@font-face {
  font-family: 'ParisineBold';
  src: url('./assets/fonts/Parisine-Bold.otf') format('opentype');
}

@font-face {
  font-family: 'ParisineRegular';
  src: url('./assets/fonts/Parisine-Regular.otf') format('opentype');
}

@font-face {
  font-family: 'AchemineBold';
  src: url('./assets/fonts/achemine_bold.ttf') format('truetype');
}

@font-face {
  font-family: 'AchemineRegular';
  src: url('./assets/fonts/achemine_regular.ttf') format('truetype');
}

@font-face {
  font-family: 'AchemineItalic';
  src: url('./assets/fonts/achemine_italic.ttf') format('truetype');
}

@font-face {
  font-family: 'IDFMBold';
  src: url('./assets/fonts/IDFVoyageur-Bold.ttf') format('truetype');
}
@font-face {
  font-family: 'IDFMRegular';
  src: url('./assets/fonts/IDFVoyageur-Regular.ttf') format('truetype');
}
@font-face {
  font-family: 'IDFMMedium';
  src: url('./assets/fonts/IDFVoyageur-Medium.ttf') format('truetype');
}
@font-face {
  font-family: 'GFontRegular';
  src: url('./assets/fonts/GFontRegular.ttf') format('truetype');
}
@font-face {
  font-family: 'GFontMedium';
  src: url('./assets/fonts/GFontMedium.ttf') format('truetype');
}

::-webkit-scrollbar {
  display: none;
}
html {
  scrollbar-width: none;
  -ms-overflow-style: none;
}

:root {
  --wg-green: #00aa83;
  --wg-blue: #e6f6f3;

  color-scheme: light dark;

  font-family: 'IDFMRegular', 'ParisineRegular', 'AchemineRegular', 'sans-serif', 'arial';

  --ratp-blue: #0a0086;
  --ratp-red: #ff1400;

  --ratp-red-rgb: 255, 20, 0;

  --ratp-bg: #bec5df;
  --ratp-yellow: #fec107;
  --ratp-orange: #ff8c00;

  --ratp-orange-rgb: 255, 140, 0;

  --ratp-green: #01aa01;
  --ratp-bg2: #dee2ee;

  --ratp-purple: #544dad;

  --idfm-blue: rgb(100, 181, 229);
  --idfm-black: #221f21;
  --idfm-white: rgb(255, 255, 255);
  --idfm-grey: rgb(217, 217, 214);
  --idfm-brown: rgb(153, 96, 23);
}
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}

img {
  user-select: none;
  -moz-user-select: none;
  -webkit-user-drag: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}

@media screen and (-webkit-min-device-pixel-ratio: 0) {
  select,
  textarea,
  input {
    font-size: 16px;
  }
}
ol,
ul,
li {
  margin: 0;
  padding: 0;
  list-style: none;
  box-sizing: border-box;
}
html,
body,
#app,
.content {
  padding: 0;
  margin: 0;
  height: 100%;
  width: 100%;
  font-family: 'IDFMRegular', 'ParisineRegular', 'AchemineRegular', 'sans-serif', 'arial';
}
.h-w-100 {
  width: 100%;
  height: 100%;
}

.blink {
  animation: blink 1.4s infinite step-start;
}
a{
  text-decoration: none;
}
@keyframes blink {
  0% {
      opacity: 1;
  }
  50% {
      opacity: 0.3;
  }
  100% {
      opacity: 1;
  }
}

